@import url(../../assets/css/page.css);

.edit-contact-wrapper {
  /* border: 0.5px dashed; */
  display: grid;
  gap: 1rem;
}
.edit-contact-wrapper .input-grp {
  display: grid; /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 1rem;
}
.edit-contact-wrapper .input-grp input,
.edit-contact-wrapper .input-grp select {
  padding: 8px 12px;
}
.edit-contact-wrapper .input-grp input:active,
.edit-contact-wrapper .input-grp select:active {
  padding: 8px 12px;
  outline: chocolate;
}
